@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Design System Colors */
  --ds-background: var(--ds-background);

  --ds-primary-pure: var(--ds-primary-pure);
  --ds-primary-1: var(--ds-primary-1);
  --ds-primary-2: var(--ds-primary-2);
  --ds-primary-3: var(--ds-primary-3);
  --ds-primary-5: var(--ds-primary-5);

  --ds-secondary-pure: var(--ds-secondary-pure);
  --ds-secondary-1: var(--ds-secondary-1);
  --ds-secondary-2: var(--ds-secondary-2);
  --ds-secondary-3: var(--ds-secondary-3);

  --ds-tertiary-pure: var(--ds-tertiary-pure);
  --ds-tertiary-1: var(--ds-tertiary-1);
  --ds-tertiary-2: var(--ds-tertiary-2);

  --ds-quaternary-pure: var(--ds-quaternary-pure);
  --ds-quaternary-1: var(--ds-quaternary-1);

  --ds-quinary-pure: var(--ds-quinary-pure);
  --ds-quinary-1: var(--ds-quinary-1);

  --ds-neutral-1: var(--ds-neutral-1);
  --ds-neutral-2: var(--ds-neutral-2);
  --ds-neutral-3: var(--ds-neutral-3);
  --ds-neutral-4: var(--ds-neutral-4);
  --ds-neutral-5: var(--ds-neutral-5);

  --ds-highlight: var(--ds-highlight);
  --ds-highlight-1: var(--ds-highlight-1);
}

:root {
  --radius: 0.625rem;
  --background: var(--ds-neutral-5);
  --foreground: var(--ds-neutral-1);
  --card: var(--ds-neutral-5);
  --card-foreground: var(--ds-neutral-1);
  --popover: var(--ds-neutral-5);
  --popover-foreground: var(--ds-neutral-1);
  --primary: oklch(0.3598 0.136 264.78);;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.5599 0.134 247.16);;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.677 0.185 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: var(--ds-neutral-5);
  --sidebar-foreground: var(--ds-neutral-1);
  --sidebar-primary: var(--ds-primary-pure);
  --sidebar-primary-foreground: var(--ds-neutral-1);
  --sidebar-accent: var(--ds-secondary-pure);
  --sidebar-accent-foreground: var(--ds-neutral-1);
  --sidebar-border: var(--ds-neutral-4);
  --sidebar-ring: var(--ds-neutral-3);

  --ds-background: oklch(0.22 0.0091 255.61);

  --ds-primary-pure: oklch(0.3598 0.136 264.78);
  --ds-primary-1: oklch(0.5557 0.1711 268.11);

  --ds-secondary-pure: oklch(0.5599 0.134 247.16);
  --ds-secondary-1: oklch(0.7159 0.1406 230.34);

  --ds-neutral-1: oklch(1 0 0);
  --ds-neutral-2: oklch(0.87 0.0139 314.75);
  --ds-neutral-3: oklch(0.63 0.01 314.75);
  --ds-neutral-4: oklch(0.5 0.0073 317.74);
  --ds-neutral-5: oklch(7.245% 0.00663 18.742);
  --ds-highlight: oklch(0.745 0.1674 64.79);
  --ds-highlight-1: oklch(0.78 0.14 64.79);
}

.dark {
  --background: var(--ds-neutral-5);
  --foreground: var(--ds-neutral-1);
  --card: var(--ds-neutral-5);
  --card-foreground: var(--ds-neutral-1);
  --popover: var(--ds-neutral-5);
  --popover-foreground: var(--ds-neutral-1);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --ds-background: oklch(0.22 0.0091 255.61);

  --ds-primary-pure: oklch(0.3598 0.136 264.78);
  --ds-primary-1: oklch(0.5557 0.1711 268.11);

  --ds-secondary-pure: oklch(0.5599 0.134 247.16);
  --ds-secondary-1: oklch(0.7159 0.1406 230.34);
  --ds-highlight: oklch(0.745 0.1674 64.79);
  --ds-highlight-1: oklch(0.78 0.14 64.79);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
